[user]
	email = andrew.pa@outlook.com
	name = Andrew Palmer
[receive]
	denyCurrentBranch = warn
[core]
	excludesFile = ~/.gitignore
[safe]
	directory = /home/andrew/Source/neovim
	directory = /home/andrew/Source/neovim
