* {
    font-size: x-large;
    font-family: Fira Code;
    color: #dddddd;
}

#window {
    background-color: transparent;
}

#scroll {
    padding: 1.0em;
    background-color: #202020;
    border-radius: 6px;
}

#input {
    padding: 1.0em;
    background-color: #202020;
    margin-bottom: 1.5em;
    border: none;
}

#entry:selected {
    border: 3px solid #dd7711;
    background-color: inherit;
}
