# configure inputs and outputs

#output DP-1 pos 2160 0 res 3840x2160
#output DP-2 pos 0 0 res 2160x3840 transform 90
#output DP-3 pos 6000 0 res 3840x2160
#output HDMI-A-1 pos 9840 0 res 3840x2160

output HDMI-A-1 pos 0 0 res 3440x1440
output DP-1 pos 3440 0 res 2160x3840 transform 270 scale 1.0 scale_filter nearest

#output * max_render_time 3
output * subpixel rgb
# output * adaptive_sync on

#workspace side-monitor output DP-2
#workspace 1 output DP-1
#workspace 2 output DP-3
#workspace 20 output HDMI-A-1

input "type:keyboard" {
	xkb_layout us
	xkb_options caps:escape
}


