# configure inputs and outputs

output HDMI-A-1 pos 0 0 res 1920x1200 transform 90
output DP-2 pos 1200 0 res 3840x2160
output DP-3 pos 5040 0 res 3840x2160

workspace 1 output DP-2
workspace 2 output DP-3
workspace side-monitor output HDMI-A-1

input "type:keyboard" {
	xkb_layout us
	xkb_options caps:escape
}


