[Unit]
Description=Automatically backup home directory to network store

[Timer]
OnCalendar=*-*-1,15
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
