[Unit]
Description=Automatically backup home directory to network store
RequiresMountsFor=/mnt/jeff/

[Service]
Type=oneshot
ExecStart=/home/andrew/config/backup.sh
