[Unit]
Description=Automatically backup home directory to network store
RequiresMountsFor=/mnt/d/

[Service]
Type=oneshot
ExecStart=/home/andrew/config/scripts/backup.sh
